/* CSS for options.html */

body {
  min-width: 400px;
}

#options-wrapper {
  max-width: 800px;
}

.blur {
  backdrop-filter: blur(6px);
}

.glass-outline {
  background-color: rgba(var(--bs-emphasis-bg-rgb), 50%);
}

[data-bs-theme='dark'] .glass-outline {
  border: 1px solid rgba(var(--bs-white-rgb), 15%);
  filter: drop-shadow(15px 15px 12px var(--bs-black));
}

[data-bs-theme='light'] .glass-outline {
  border: 1px solid rgba(var(--bs-black-rgb), 17.5%);
}

.form-control,
.glass-bg {
  background-color: rgba(var(--bs-emphasis-bg-rgb), 50%);
}

.table {
  --bs-table-bg: initial;
}

#pin-notice {
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  user-select: none;
}

[data-bs-theme='dark'] #pin-notice {
  text-shadow:
    0 0 3px var(--bs-emphasis-bg),
    0 0 6px var(--bs-emphasis-bg),
    0 0 9px var(--bs-emphasis-bg),
    0 0 12px var(--bs-emphasis-bg);
}

.bounce {
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 0;
  }
}
