/* CSS for popup.html */

body {
    width: 380px;
    overflow-x: hidden;
}

input::placeholder {
    text-align: center;
    text-transform: capitalize;
}

.search-buttons a.dropdown-item {
    text-transform: capitalize;
}

.dropdown-menu {
    max-width: 100vw;
    white-space: normal;
    overflow: hidden;
}
