name: "Build"

on:
  workflow_dispatch:
  release:
    types: [published]

env:
  SRC_DIR: src
  PACKAGE_NAME: aviation_tools
  CHROME_ID: cjjhackeogffajjndfhemgniokonimin
  MOZILLA_ID: aviation-tools@cssnr.com
  MOZILLA_CHANNEL: unlisted
  UPDATE_JSON: update.json

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      contents: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Setup Node 24"
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: "Install"
        run: |
          npm ci

      - name: "Update Manifest Version"
        if: ${{ github.event_name == 'release' }}
        uses: cssnr/update-json-value-action@v2

      - name: "Build"
        run: |
          npm run build

      - name: "Upload to Actions"
        uses: actions/upload-artifact@v6
        with:
          name: artifacts
          path: web-ext-artifacts

      - name: "Upload to Release"
        if: ${{ github.event_name == 'release' }}
        uses: cssnr/upload-release-action@v1
        with:
          globs: web-ext-artifacts/*

      - name: "Update Release Notes Action"
        if: ${{ github.event_name == 'release' }}
        continue-on-error: true
        uses: smashedr/update-release-notes-action@master
        with:
          type: generic

      - name: "Package Changelog Action"
        if: ${{ github.event_name == 'release' }}
        continue-on-error: true
        uses: cssnr/package-changelog-action@v2

      - name: "Send Failure Notification"
        if: ${{ failure() && github.event_name == 'release' }}
        uses: sarisia/actions-status-discord@eb045afee445dc055c18d3d90bd0f244fd062708 # v1.16.0
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          description: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

  publish-mozilla:
    name: "Publish Mozilla"
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: [build]
    if: ${{ github.event_name == 'release' }}

    permissions:
      contents: write

    steps:
      - name: "Download Artifacts"
        uses: actions/download-artifact@v6
        with:
          name: artifacts

      - name: "Generate Release Notes"
        env:
          NOTES: "Full Release Notes: ${{ github.server_url }}/${{ github.repository }}/releases/tag/${{ github.ref_name }}"
        uses: jsdaniell/create-json@v1.2.3
        with:
          name: "amo-metadata.json"
          json: '{"version": {"release_notes": {"en-US": "${{ env.NOTES }}"}}}'

      - name: "Debug Artifact"
        run: |
          ls -lAh .

      - name: "Sign Mozilla Addon"
        run: |
          unzip ./*firefox* -d src
          npx web-ext sign --api-key="${{ secrets.FIREFOX_API_KEY }}" \
            --api-secret="${{ secrets.FIREFOX_API_SECRET }}" \
            --source-dir="${{ env.SRC_DIR }}" \
            --channel="${{ env.MOZILLA_CHANNEL }}" \
            --amo-metadata="amo-metadata.json"

      - name: "Rename Signed Artifact"
        working-directory: web-ext-artifacts
        run: |
          ls -lAh .
          mv ./*.xpi "${{ env.PACKAGE_NAME }}-firefox.xpi"
          file "${{ env.PACKAGE_NAME }}-firefox.xpi"

      - name: "Upload to Actions"
        uses: actions/upload-artifact@v6
        with:
          name: signed
          path: web-ext-artifacts/

      - name: "Upload to Release"
        if: ${{ github.event_name == 'release' }}
        uses: cssnr/upload-release-action@v1
        with:
          globs: web-ext-artifacts/*
          overwrite: true

  update-mozilla:
    name: "Update Mozilla"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: [publish-mozilla]
    if: ${{ github.event_name == 'release' }}

    permissions:
      contents: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: "Mozilla Addon Update"
        uses: cssnr/mozilla-addon-update-action@v1
        with:
          url: "https://github.com/cssnr/aviation-tools/releases/download/{version}/aviation_tools-firefox.xpi"
          addon_id: ${{ env.MOZILLA_ID }}
          version: ${{ github.ref_name }}

      - name: "Debug ${{ env.UPDATE_JSON }}"
        continue-on-error: true
        run: |
          git status
          echo "::group::cat ${{ env.UPDATE_JSON }}"
          cat -n "${{ env.UPDATE_JSON }}"
          echo "::endgroup::"

      #- name: "Commit files"
      #  run: |
      #    git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
      #    git config --local user.name "github-actions[bot]"
      #    git commit -a -m "Update ${{ env.UPDATE_JSON }}"
      #
      #- name: "Push changes"
      #  uses: ad-m/github-push-action@master
      #  with:
      #    github_token: ${{ secrets.GITHUB_TOKEN }}
      #    branch: master

      #- name: "Create App Token"
      #  if: ${{ !github.event.release.prerelease }}
      #  id: app
      #  uses: actions/create-github-app-token@v2
      #  with:
      #    app-id: 146360
      #    private-key: ${{ secrets.APP_PRIVATE_KEY }}
      #    owner: ${{ github.repository_owner }}
      #
      - name: "Commit Action"
        id: commit
        uses: suzuki-shunsuke/commit-action@f28421acc277a6d6a9c1f94ea449076ad77dba67 # v0.1.0
        with:
          #branch: ${{ github.head_ref }}
          #repository: ${{ github.repository }}
          #files: ${{ env.UPDATE_JSON }}
          commit_message: "Bump ${{ env.UPDATE_JSON }} to ${{ github.ref_name }}"
          #github_token: ${{ steps.app.outputs.token }}
          app_id: 146360
          app_private_key: ${{ secrets.APP_PRIVATE_KEY }}
          fail_on_self_push: false

#  check:
#    name: "Check"
#    if: ${{ always() }}
#    runs-on: Ubuntu-latest
#    timeout-minutes: 5
#    needs: [build, publish-mozilla, update-mozilla]
#
#    permissions:
#      contents: write
#
#    steps:
#      - name: "Alls Green"
#        uses: re-actors/alls-green@release/v1
#        with:
#          jobs: ${{ toJSON(needs) }}
#          allowed-skips: release
#          allowed-failures: vt, vhs
#
#      - name: "Cleanup Release"
#        if: ${{ failure() }}
#        env:
#          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        run: |
#          echo -e "\n## Cleanup Release\n\n" >> "$GITHUB_STEP_SUMMARY"
#          echo -e "Deleting Release and Tag: \`${{ github.ref_name }}\`\n\n" >> "$GITHUB_STEP_SUMMARY"
#          if gh release delete "${{ github.ref_name }}" --repo "${{ github.repository }}" --cleanup-tag;then
#            echo -e "✅ Cleanup Success.\n" >> "$GITHUB_STEP_SUMMARY"
#          else
#            echo -e "⛔ Cleanup Failed!\n" >> "$GITHUB_STEP_SUMMARY"
#          fi

#  publish-chrome:
#    name: 'Publish Chrome'
#    runs-on: ubuntu-latest
#    timeout-minutes: 30
#    needs: [build]
#    if: ${{ github.event_name == 'release' }}
#
#    steps:
#      - name: 'Download Artifacts'
#        uses: actions/download-artifact@v3
#        with:
#          name: artifacts
#
#      - name: 'Setup Node'
#        uses: actions/setup-node@v3
#        with:
#          node-version: 18
#
#      - name: 'Install chrome-webstore-upload-cli'
#        run: |-
#          npm install -g chrome-webstore-upload-cli
#
#      - name: Upload step
#        run: |-
#          export archive=$(ls *chrome*.zip)
#          chrome-webstore-upload upload \\
#            --source chrome-extension-${archive} \\
#            --extension-id ${{ env.CHROME_ID }} \\
#            --client-id ${{ secrets.CI_GOOGLE_CLIENT_ID }} \\
#            --client-secret ${{ secrets.CI_GOOGLE_CLIENT_SECRET }} \\
#            --refresh-token ${{ secrets.CI_GOOGLE_REFRESH_TOKEN }}
#
#      - name: 'Rename Signed Artifact'
#        working-directory: web-ext-artifacts
#        run: |-
#          ls -l .
#          mv *.xpi "${{ needs.build.outputs.package_name }}-chrome.xpi"
#          ls -l .
#
#      - name: 'Upload to Actions'
#        uses: actions/upload-artifact@v3
#        with:
#          name: signed
#          path: web-ext-artifacts/
#
#      - name: 'Upload to Release'
#        uses: svenstaro/upload-release-action@v2
#        with:
#          repo_token: ${{ secrets.GITHUB_TOKEN }}
#          file: web-ext-artifacts/*
#          tag: ${{ github.ref }}
#          overwrite: true
#          file_glob: true

