name: "Test"

on:
  workflow_dispatch:
  push:
#    branches: ["master"]
#    paths:
#      - "src/**"
#      - "tests/**"
#  pull_request:
#    branches: ["master"]
#    paths:
#      - "src/**"
#      - "tests/**"

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: ${{ !contains(github.event.head_commit.message, '#notest') }}

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Setup Node 24"
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: "Install"
        run: |
          npm ci

      - name: "Lint"
        run: |
          npm run lint

#      - name: "Test"
#        run: |
#          npm run test

